$color_mainBlack: #363636
$color_mainWhite: #fff
$color_gray: #A5A5A5
$color_lightGray: #D4D4D4
$color_backGround_Gray: #F3F3F3
$color_blue: #5671F6

@mixin flexible () 
    display: flex
    justify-content: space-between
    align-items: center


*
    box-sizing: border-box  
      
body
    font-family: 'Roboto', sans-serif
    font-weight: normal
    
.header
    display: flex
    align-items: center
    height: 104px
    padding-left: 34px
    border-bottom: 1px solid $color_lightGray

.m-menu
    display: flex
    height: 100%
    align-items: center
    flex-grow: 1

.line
    content: ""
    display: inline-block
    height: 100%
    width: 1px
    background-color: $color_lightGray
    margin-left: 34px
    
.search-input
    background-image: url(../img/search-icon.svg)
    background-repeat: no-repeat
    padding-left: 38px
    background-position: center left
    border: none
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 21px
    color: $color_gray
    margin-left: 34px
    margin-right: auto

.navigation
    margin-right: 44px
    margin-left: auto

    .navigation-link
        text-decoration: none
        font-size: 18px
        line-height: 21px
        color: $color_mainBlack
        margin: 0 18px

.button-group
    height: 100%
    display: flex

    .button
        height: 100%
        cursor: pointer

    .sign-up
        color: $color_blue
        font-size: 18px
        line-height: 21px
        border: none
        background-color: $color_mainWhite
        padding: 0 34px
        border-left: 1px solid $color_lightGray

    .login
        color: $color_mainWhite
        font-size: 18px
        line-height: 21px
        background-color: $color_blue
        border: none
        padding: 0 50px

.mobile-buttons
    display: none
        
.m-menu-button, .search-button
    padding: 5px
    background-color: #fff
    border: none
    cursor: pointer

    .menu-line
        display: block
        height: 2px
        background-color: black
        width: 16px
        margin: 3px 0px
        flex-basis: 16px
        border-radius: 40px

.film
    padding: 80px 0
    border-bottom: 1px solid $color_lightGray

.container
    max-width: 1130px
    margin-left: auto
    margin-right: auto
        
.film-wrapper
    display: flex

.film-trailer
    display: flex
    flex-direction: column
    margin-right: 60px

    .poster
        border-top-right-radius: 5px
        border-top-left-radius: 5px
        width: 358px

    .trailer-button
        display: flex
        align-items: center
        justify-content: center
        background-color: $color_mainWhite
        border: 1px solid $color_lightGray
        border-radius: 0 0 5px 5px
        padding: 25px 0
        cursor: pointer
        text-decoration: none

        .trailer-button-icon
            margin-right: 14px
            cursor: pointer

        .trailer-button-text
            font-size: 16px
            line-height: 19px
            color: $color_blue

.film-text
    color: $color_mainBlack
    
    .film-title
        font-style: normal
        font-weight: 900
        font-size: 36px
        line-height: 42px
        margin: 0 0 16px 0

    .film-subtitle
        display: block
        /* margin: 32px 0 0 0 */
        font-size: 18px
        line-height: 21px
        color: $color_gray

    .film-discription
        margin: 
        font-size: 14px
        line-height: 150%
        color: #000000
        max-width: 514px
        margin: 50px 0 50px 0

    .about-film
        display: flex
        margin-bottom: 50px

        .side
            margin-right: 40px

            .about-text
                display: block
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 16px
                

                .about-text-bold
                    display: inline-block
                    width: 100px
                    vertical-align: top
                    font-weight: bold

.rating
    display: flex
    align-items: center

    .rating-counter
        width: 100px
        height: 100px
        display: flex
        align-items: center
        justify-content: center
        border: 1px solid $color_blue
        border-radius: 10px
        margin-right: 28px
        font-weight: bold;
        font-size: 28px;
        line-height: 33px;
        color: $color_blue

    .rating-description

        .rating-title
            font-weight: bold
            font-size: 18px
            line-height: 21px
            color: $color_mainBlack
            margin: 0 0 12px 0

        .rating-text
            display: block
            margin-bottom: 7px
            font-size: 16px;
            line-height: 19px;

            .rating-text-bold
                font-weight: bold    


.cast
    padding: 70px 0 100px 0

    .tabs
        display: flex
        align-items: center
        margin-bottom: 60px

        .section-title
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            color: $color_gray
            margin-right: 30px

        .section-title.active
            color: $color_mainBlack
            font-weight: 900

.tabs-content
    display: flex
    align-items: center
    flex-wrap: wrap

.card
    display: flex
    align-items: center
    flex-basis: 25%
    margin-bottom: 35px

.card-image
    width: 100px
    height: 100px
    object-fit: cover
    border-radius: 50%
    margin-right: 20px

.card-text    
            
    .name
    font-weight: bold
    font-size: 16px
    line-height: 19px
    color: $color_blue
    margin: 0 0 6px 0
.en-name
    font-size: 16px
    line-height: 19px
    color: $color_gray
    margin: 0 0 6px 0

.news
    background-color: $color_backGround_Gray
    padding: 70px 0 100px 0

.section-news-title
    font-weight: 900
    color: $color_mainBlack
    margin-bottom: 65px
    
    
.news-cards
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.news-card
    flex-basis: 23%
    background-color: $color_mainWhite
    padding: 30px
    border-radius: 5px

.news-date
    font-size: 14px
    line-height: 16px

.news-title
    font-weight: 900
    font-size: 14px
    line-height: 16px
    color: black
    margin-top: 14px

.button-next
    display: none
    background-color: transparent
    border: none
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)
    z-index: 99
    cursor: pointer



@media ( max-width: 1200px  )
    .container
        width: 960px

    .tabs-content .card .card-image
        width: 70px
        height: 70px

    .header
        height: 90px
        padding-left: 20px

    .button-group .sign-up
        padding: 0 20px

    .navigation
        margin-right: 20px

    .search-input
        margin-left: 20px

    .navigation .navigation-link
        margin-right: 10px
        font-size: 16px
    
    .line
        margin-left: 20px   

@media ( max-width: 992px  )
    .container
        width: 760px

    .navigation
        display: none

    .film-text .film-title
        font-size: 24px   
        line-height: 1.4

    .film-text .film-subtitle
        margin-bottom: 20px

    .film-text .film-discription
        margin: 20px 0 30px 0

    .film-text .about-film
        margin-bottom: 30px

    .film-text .about-film .side .about-text .about-text-bold
        display: block
        margin-bottom: 8px

    .tabs-content .card .card-image
        width: 100px
        height: 100px

    .tabs-content .card
        flex-basis: 50%

    .news-cards .news-card
        flex-basis: 48%
        margin-bottom: 30px

@media ( max-width: 768px  )
    .container
        width: 560px

    .header
        height: 80px
        padding-right: 2.5%
        padding-left: 2.5%

    .no-scrolle 
        overflow: hidden

    .m-menu
        display: none     
        height: calc(100% - 80px)  
        flex-direction: column
        align-items: center
        justify-content: space-around
        position: fixed
        left: 0
        top: 80px
        right: 0
        bottom: 0
        background-color: $color_blue

    .m-menu.active
        display: flex
        

    .navigation
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        margin: 0

    .button-group
        height: auto
        flex-direction: column

    .search-input
        margin: 0
        width: 260px
        height: 50px
        border-radius: 5px
        border: none
        background-image: none

    .navigation .navigation-link
        color: $color_mainWhite
        margin: 0 0 18px 0

    .navigation .navigation-link:last-child
        margin-bottom: 0

    .button-group .sign-up
        background-color: transparent
        color: $color_mainWhite
        border: none
        margin-bottom: 30px

    .film
        padding-top: 50px
        padding-bottom: 60px

    .film-wrapper
        flex-wrap: wrap

    .film-text
        order: -1
        margin-bottom: 30px

    .cast
        padding-top: 40px
        padding-bottom: 60px

    .news
        padding: 50px 0 70px 0

    .news-card
        max-width: 90%

    .button-next
                display: block


    .line
        display: none

    .mobile-buttons
        display: block
        margin-left: auto

@media ( max-width: 576px  )
    .container
        width: 95%

    .film-text
        order: 1
        margin-bottom: 0

    .film-trailer
        width: 100%

    .film-trailer .poster
        width: 100%

    .film-text .film-title
        font-size: 20px
        line-height: 23px
        margin-bottom: 12px
        margin-top: 30px

    .film-text .film-subtitle
        font-size: 14px
        line-height: 16px
        margin-bottom: 26px

    .film-text .film-discription
        font-size: 14px
        line-height: 150%
        margin-bottom: 40px

    .film-text .about-film
        flex-wrap: wrap
        flex-direction: column
        margin-bottom: 40px

    .film-text .about-film .side .about-text .about-text-bold
        display: inline-block

    .tabs-content .card
        flex-basis: 100%
        margin-bottom: 20px

    .tabs-content .card .card-image
        width: 60px
        height: 60px

    .cast .tabs
        margin-bottom: 35px

    .cast
        padding-bottom: 50px

    .news-cards .news-card
        flex-basis: 80%